*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink-light: #c59dd2;
  --pink-base: #9547a5;
  --pink-dark: #7d298a;
  --pink-low: #3f0f41;

  --blue-light: #73b6d2;
  --blue-base: #358bb9;
  --blue-mid: #2374a4;
  --blue-dark: #144a72;
  --blue-low: #08233c;

  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000f1f;
  --shape-background: #00050a;

  --text-title: #f8fbfb;
  --text-body: #e2e7e9;
  --text-label: #bac6c9;

  --font-principal: "Raleway", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: var(--text-body);
  font-family: var(--font-principal);
  background: var(--shape-background);
}
.container {
  width: 100%;
  max-width: 385px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--pink-dark);
  color: var(--text-title);
}

.button-secondary {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--blue-dark);
  color: var(--text-title);
}

.button-secondary:hover {
  background: var(--blue-dark);
}
.button:hover {
  background: var(--pink-base);
}
.button-sm {
  padding: 1.25rem;
  max-height: 2.5rem;
}

html,
a {
  font-family: inherit;
  text-decoration: none;
  color: var(--blue-light);
}

a:hover {
  color: var(--text-label);
}

li {
  list-style: none;
}

.padding-default {
  padding: 0.25rem 1.25rem 0 1.25rem;
}
