nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  & section:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  & section:nth-child(2) {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    animation: animation_background 4s linear 500ms forwards;

    & h1 {
      margin-bottom: 1.2rem;
      font: bold 1.75rem / normal var(--font-principal);
      text-align: center;
    }
    & p {
      text-align: center;
      font: 0.875rem/1.4 var(--font-principal);
      font-weight: 100;
      opacity: 0;
      animation: text_animation 4s linear 700ms forwards;
    }
  }

  & section:nth-child(3) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 5rem;

    & p {
      position: absolute;
      font: 1rem / 1.4;
      text-align: center;
      align-content: center;
    }
    & img {
      max-width: 2.5rem;
    }

    & img[src*="spellbook"] {
      position: relative;
      top: -20px;
      left: 70%;
      transform: rotate(20deg);
      animation: spellbook 2s both 100ms;
    }

    img[src*="spellbook"]:hover {
      transform: rotate(-20px);
    }

    & img[src*="planchette"] {
      position: relative;
      bottom: -70px;
      transform: rotate(-25deg);
    }

    & img[src*="crystal"] {
      position: relative;
      right: -85%;
      top: 20px;
      transform: rotate(20deg);
    }
  }
}

nav::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(/assets/image/hero-background.png);
  background-repeat: no-repeat;
  background-size: 250%;
  background-position: center top;
  opacity: 1;
  animation: animation_background 4s linear 300ms forwards;
  z-index: -1;
}

nav::after {
  content: "";
  border-radius: 50%;

  bottom: -20px;
  position: absolute;
  width: 270px;
  height: 250px;
  background: radial-gradient(
      circle,
      rgba(63, 15, 65, 0.5) 100%,
      rgba(255, 0, 255, 0)
    )
    0%;
  filter: blur(100px);
  z-index: -1;
}

@keyframes animation_background {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes text_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
